body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000;
}

.display {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.calculator-btn {
  width: 60px;
  height: 60px;
  font-size: 26px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  margin-right: 3px;
}

.grey-btn {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-btn {
  background-color: rgb(254, 160, 10);
  color: white;
}

.clear-btn {
  font-size: 17px;
}